<button class="btn btn-primary" type="button" (click)="sidebarService.show()">Test sidebar sub menu list</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offCanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offCanvasLabel">Sub Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-pills flex-column mb-auto">
            <li *ngFor="let menu of (subMenuList$ | async)" class="nav-item">
                <a class="nav-link" [routerLink]="menu.path" [routerLinkActive]="['active']" 
                    [routerLinkActiveOptions]="{exact: true}" (click)="sidebarService.hide()">
                    <fa-icon [icon]="menu.icon" class="me-2"></fa-icon>
                    {{menu.title}}
                </a>
            </li>
        </ul>
    </div>
</div>