<div #offCanvas class="offcanvas offcanvas-end" tabindex="-1" id="offCanvas">
    <div class="offcanvas-header flex-column">
        <div class="dropdown d-flex justify-content-center mb-2">
            <a class="d-flex align-items-center">
                <img [src]="profilePhoto" alt="" width="104" height="104" class="rounded-circle">
            </a>
        </div>
        <span class="display-name mb-2">{{displayName}}</span>
        <div class="d-flex justify-content-center w-100">
            <fa-icon [icon]="faPenToSquare" class="me-3" (click)="editProfile()"></fa-icon>
            <fa-icon [icon]="faRightFromBracket" (click)="logout()"></fa-icon>
        </div>
    </div>
    <hr>
    <div class="offcanvas-body d-flex flex-column">
        <ul class="navbar-nav justify-content-end pe-3 mb-auto">
            <li ngbDropdown *ngFor="let menu of (menuList$ | async)" class="nav-item dropdown show">
                <div class="d-flex flex-row align-items-center" [attr.menuParent]="menu.path">
                    <fa-icon [icon]="menu.icon" class="me-2"></fa-icon>
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" (click)="openDropdown(menu)">
                        {{menu.title}}
                    </a>
                </div>
                <ul ngbDropdownMenu class="dropdown-menu" [attr.menuPath]="menu.path">
                    <li *ngFor="let subMenu of menu.subMenuList" class="ms-4">
                        <div class="d-flex flex-row align-items-center" (click)="hide()" [routerLinkActive]="['active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <fa-icon [icon]="subMenu.icon" class="me-2"></fa-icon>
                            <a ngbDropdownItem class="dropdown-item" [routerLink]="subMenu.path">
                                {{subMenu.title}}
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>