<div class="d-flex flex-column h-100">

    <div class="d-flex justify-content-end">
        <button class="btn add-btn" (click)="openAddExpenseModal()">
            <fa-icon [icon]="faAdd"></fa-icon>
        </button>
    </div>

    <app-expense-search-form (search)="search($event)" (clear)="clear()"></app-expense-search-form>

    <div class="result-container">
        <app-expense-result *ngFor="let expense of (expenses$ | async)" [expense]="expense" [currentUser]="currentUser"
            (viewAttachment)="viewAttachment($event)" (deleteExpense)="deleteExpense($event)">
        </app-expense-result>
    </div>

</div>