<form [formGroup]="expenseAddForm">

    <div class="modal-header">
        <h4>Add Expense</h4>
        <button type="button" class="btn-close" type="button" (click)="dismiss()"></button>
    </div>

    <div class="modal-body">

        <div class="grid bs-rows-1 bs-columns-2 row-gap-1 mb-3">
            <div class="form-floating g-col-1">
                <input class="form-control form-control-sm" placeholder="Name" formControlName="name" required>
                <label for="name" class="required">Name</label>
            </div>
            <div class="form-floating g-col-1">
                <input class="form-control form-control-sm" type="number" placeholder="Amount" formControlName="amount" required>
                <label for="amount" class="required">Amount</label>
            </div>
        </div>

        <div class="grid bs-rows-1 bs-columns-2 row-gap-1 mb-2">
            <app-date-picker label="Date" [control]="dateCtrl" [maxDate]="today!"></app-date-picker>
            <app-user-selector label="Paid by" [control]="paidByCtrl" [required]="true"></app-user-selector>
        </div>

        <app-sharing-section class="d-block mb-2" formArrayName="sharings" [sharingFormArr]="sharingsFormArr"></app-sharing-section>

        <app-add-photo-section formArrayName="files" [fileFormArr]="fileFormArr"></app-add-photo-section>

    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-outline-dark" type="button" [disabled]="!(isFormValid$ | async)" (click)="onAdd()">Add</button>
        <button class="btn btn-sm btn-outline-danger" type="button" (click)="dismiss()">Cancel</button>
    </div>

</form>