<div class="d-flex flex-column">
    <div class="d-flex justify-content-end">
        <button class="btn add-btn" (click)="openAddDocumentModal()">
            <fa-icon [icon]="faAdd"></fa-icon>
        </button>
    </div>

    <app-document-search-form class="d-block mb-3" (onSearch)="search($event)"
        (onClear)="clear()"></app-document-search-form>

    <app-document-search-result *ngFor="let document of (documents$ | async)!" 
        [document]="document" (onDelete)="deleteDocument($event)"></app-document-search-result>
</div>