<div class="d-flex flex-column">

    <div *ngIf="!isDisabled" class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-outline-dark add-attachment-btn" [disabled]="!(parentPaidByCtrl.valueChanges | async)"
            (click)="addBillingForm()">
            <fa-icon [icon]="faPlus"></fa-icon>
            Add Billing
        </button>
        <span class="remaining-amount">
            {{ overRemain$ | async }}
        </span>
    </div>
    <div *ngIf="isDisabled" class="mb-3">
        <span class="text-bold">Billing</span>
    </div>

    <div class="mb-3" *ngFor="let billingForm of billingFormArr.controls; let idx = index">
        <div class="grid bs-rows-1 bs-columns-2" [formGroup]="billingForm">
            <div class="form-floating g-col-1">
                <app-user-selector label="User" [control]="billingForm.controls.user" [required]="true"
                    [disabled]="isDisabled"></app-user-selector>
            </div>
            <div class="input-group">
                <div class="form-floating">
                    <input class="form-control form-control-sm" formControlName="amount" type="number" placeholder="Amount">
                    <label [class.required]="isRequireAmount">Amount</label>
                </div>
                <button *ngIf="!isDisabled" class="btn btn-outline-secondary" type="button" [disabled]="idx === 0" 
                    (click)="removeBillingForm(idx)">
                    <fa-icon [icon]="faCircleMinus"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    
</div>
