@import '/src/scss/var.scss';

app-event-info {
    display: flex;
    justify-content: center;
    flex-flow: column;

    div.card {
        background-color: $page-color !important;
    }

    span.title {
        font-size: 12px !important;
        font-weight: bold;
        flex-grow: 1;
        cursor: pointer;
    }

    div.card-text {
        font-size: 12px !important;
    }

    div.location a fa-icon {
        color: var(--bs-link-color) !important;
    }

    .hide-overflow {
        max-height: 28px !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}
