<div class="grid bs-rows-1 bs-columns-2">
  <div class="g-col-1 input-group d-flex justify-content-start">
    <select class="select-period w-75" [formControl]="periodCtrl">
      <option *ngFor="let month of monthOptions" [ngValue]="month">
        {{ month.format('MM/YYYY') }}
      </option>
    </select>
  </div>
  <div class="g-col-1 input-group d-flex justify-content-end">
    <select class="select-mode w-70" [formControl]="chartModeCtrl">
      <option *ngFor="let mode of chartModeOptions" [ngValue]="mode">
        {{ mode }}
      </option>
    </select>
  </div>
</div>

<canvas baseChart [type]="'pie'" [data]="chartData" [options]="chartOptions"></canvas>
