app-header {

    nav {
        padding-top: env(safe-area-inset-top) !important;
    }

    a {
        cursor: pointer;
    }

    button.sidebar-toggle {
        padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
        font-size: var(--bs-navbar-toggler-font-size);
        line-height: 1;
        color: var(--bs-navbar-color);
        background-color: transparent;
        border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
        border-radius: var(--bs-navbar-toggler-border-radius);
        transition: var(--bs-navbar-toggler-transition);
    }

    .user-info {
        align-items: center;

        span {
            margin-right: 1rem;
            font-weight: bolder;
        }
    }

}
