app-toast {
    text-align: center;

    ngb-toast {
        transform: translateX(34%);
        position: fixed !important;
        width: 60% !important;
        top: 15%;
        left: 0;
        z-index: 9999;
    }

    .toast-body {
        height: 100%;
        padding: unset !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
