<div class="d-flex flex-column">
    <div class="d-flex justify-content-between mb-2">
        <button mwlCalendarPreviousView class="previous-btn btn btn-primary btn-sm d-none d-md-inline-block" [view]="view"
            [(viewDate)]="viewDate!">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>

        <h5 class="month-title">{{ viewDate! | calendarDate:(view + 'ViewTitle'):'en' }}</h5>

        <button mwlCalendarNextView class="next-btn btn btn-primary btn-sm d-none d-md-inline-block" [view]="view" [(viewDate)]="viewDate!">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>

    <div (swipe)="onSwipe($event)" (doubletap)="addEvent()">
        <mwl-calendar-month-view [viewDate]="viewDate!" [events]="(calendarEvent$ | async)!"
            (dayClicked)="showEvent($event)">
        </mwl-calendar-month-view>
    </div>

    <div class="event-command mt-2 mb-2 d-flex flex-row justify-content-center">
        <div class="btn-group btn-group-medium w-50" role="group">
            <button type="button" class="btn btn-outline-primary" (click)="addEvent()">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>

            <button mwlCalendarToday type="button" class="btn btn-outline-primary" [(viewDate)]="viewDate!">
                <fa-icon [icon]="faReplyAll"></fa-icon>
            </button>

            <button type="button" class="btn btn-outline-primary" (click)="reload()">
                <fa-icon [icon]="faArrowsRotate"></fa-icon>
            </button>
        </div>
    </div>

    <div>
        <div *ngIf="viewEventDate$ | async" class="d-flex justify-content-end">
            <span class="view-event-date">{{ (viewEventDate$ | async) | date:'dd/MM/YYYY' }}</span>
        </div>
        <app-event-info *ngFor="let event of (dayEvents$ | async)"
            [event]="event" (onDelete)="deleteEvent($event)" (onEdit)="editEvent($event)">
        </app-event-info>
    </div>

</div>
