<div class="d-flex flex-column">

    <div class="d-flex justify-content-between mb-2">
        <button mwlCalendarPreviousView class="previous-btn btn btn-primary btn-sm" [view]="view" [(viewDate)]="viewDate!">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>

        <h5 class="month-title">{{ viewDate! | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
        
        <button mwlCalendarNextView class="next-btn btn btn-primary btn-sm" [view]="view" [(viewDate)]="viewDate!">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>

    <div (swipe)="onSwipe($event)">
        <mwl-calendar-month-view [viewDate]="viewDate!" [events]="(calendarEvent$ | async)!" (dayClicked)="showEvent($event)">
        </mwl-calendar-month-view>
    </div>

    <div class="event-command mt-2 d-flex flex-row justify-content-between">
        <button class="btn btn-primary btn-sm" (click)="addEvent()">
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <div>Filter by ...</div>
    </div>

    <app-event-info></app-event-info>

</div>
