app-notification {

    position: relative;
    display: inline-block;

    .noti-container {
        fa-icon {
            color: white !important;
            font-size: 20px;
        }

        .badge {
            position: absolute;
            padding: 0.05rem 0.2rem !important;
            right: -10px;
        }
    }

    button.dd-btn {
        font-size: 12px !important;
        display: flex;
        justify-content: space-between;
    }

    .dropdown-toggle:after {
        content: none !important;
    }

}