<div ngbDropdown class="d-inline-block">
    <div class="noti-container" ngbDropdownToggle>
        <span class="badge text-bg-secondary" *ngIf="hasNotification$ | async">
            {{ totalNotification$ | async }}
        </span>
        <fa-icon [icon]="faBell"></fa-icon>
    </div>
    <div ngbDropdownMenu [class.invisible]="!(hasNotification$ | async)">
        <button *ngFor="let noti of (notifications$ | async)" class="dd-btn" ngbDropdownItem (click)="openNotification(noti)">
            <span>{{ noti.title }}</span>
            <span class="ms-2">{{ noti.date.toDate() | date:'dd/MM/YYYY HH:mm' }}</span>
        </button>
    </div>
</div>