<form class="d-flex flex-column mt-3" [formGroup]="expenseForm">

    <div class="grid bs-rows-1 bs-columns-2 mb-4">
        <div class="form-floating g-col-1">
            <input class="form-control form-control-sm" placeholder="Name" formControlName="name">
            <label for="name">Name</label>
        </div>
        <div class="form-floating g-col-1">
            <input type="text" class="form-control form-control-sm" placeholder="Paid By" formControlName="paidBy" 
                [ngbTypeahead]="searchUsers" [resultFormatter]="searchUserFormatter" [inputFormatter]="searchUserFormatter" 
                (selectItem)="paidByCtrl.disable()" />
            <label for="paidBy">Paid by</label>
            <button *ngIf="paidByCtrl.valueChanges | async" class="btn clear-btn d-flex align-items-center" (click)="clearSelectedUser()">
                <fa-icon [icon]="faXmark"></fa-icon>
            </button>
        </div>
    </div>

    <div class="grid bs-rows-1 bs-columns-2 mb-3">
        <div class="input-group">
            <div class="form-floating">
                <input ngbDatepicker readonly formControlName="startDate" class="form-control form-control-sm" placeholder="Start Date"
                    #sd="ngbDatepicker" [firstDayOfWeek]="7" [maxDate]="(endDateValue$ | async)!" (click)="sd.toggle()">
                <label for="startDate">Start Date</label>
            </div>
            <button class="btn btn-outline-secondary" (click)="sd.toggle()" type="button">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
        </div>
        <div class="input-group">
            <div class="form-floating">
                <input ngbDatepicker readonly formControlName="endDate" class="form-control form-control-sm" placeholder="End Date"
                    #ed="ngbDatepicker" [firstDayOfWeek]="7" [minDate]="(startDateValue$ | async)!" (click)="ed.toggle()">
                <label for="endDate">End Date</label>
            </div>
            <button class="btn btn-outline-secondary" (click)="ed.toggle()" type="button">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
        </div>
    </div>

    <div class="btn-cmd d-flex flex-column align-items-center">
        <button class="btn btn-sm btn-outline-dark mb-2">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
        <button class="btn btn-sm btn-outline-danger" (click)="clearForm()">
            <fa-icon [icon]="faXmark"></fa-icon>
        </button>
    </div>

</form>