<div class="card mb-3">
    <div class="card-body p-2">
        <div class="card-title d-flex flex-row justify-content-between align-items-center m-0">
            <span class="title hide-overflow m-0" (click)="collapse.toggle()">
                {{event.title}}
            </span>
            <div class="d-flex">
                <fa-icon *ngIf="event.meta?.editable" class="command-bt" [icon]="faPen"
                    (click)="editEvent()">
                </fa-icon>
                <fa-icon *ngIf="event.meta?.editable" class="command-bt ms-2" [icon]="faTrash" 
                    (click)="deleteEvent()">
                </fa-icon>
            </div>
        </div>
        <div class="card-text mt-2" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            You can collapse this card by clicking Toggle
        </div>
    </div>
</div>