<div class="card mb-2">
    <div class="card-body p-2">
        <div class="card-title d-flex flex-row justify-content-between align-items-center m-0">
            <span class="title hide-overflow m-0" (click)="collapse.toggle()">
                {{event.title}}
            </span>
            <div class="d-flex">
                <fa-icon *ngIf="event.meta?.editable" [icon]="faPen"
                    (click)="editEvent()">
                </fa-icon>
                <fa-icon *ngIf="event.meta?.editable" class="ms-2" [icon]="faTrash" 
                    (click)="deleteEvent()">
                </fa-icon>
            </div>
        </div>
        <div class="card-text mt-2" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div>
                <span *ngIf="event.meta?.description; else defaultDescription">{{event.meta?.description }}</span>
            </div>
            <div *ngIf="event.meta?.place?.placeId" class="location mt-2">
                <a target="_blank" [href]="getDirectionLink()">
                    {{event.meta?.place?.placeName}}
                    <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                </a>
            </div>
            <ng-template #defaultDescription><span style="font-style: italic; opacity: 0.7;">No Description</span></ng-template>
        </div>
    </div>
</div>
