<form [formGroup]="recurringExpenseForm">

    <div class="modal-header">
        <h4>{{ action }} Recurring Expense</h4>
        <button type="button" class="btn-close" (click)="dismiss()"></button>
    </div>

    <div class="modal-body">

        <div class="grid bs-rows-2 bs-columns-2 mb-3 bs-gap-1-25">
            <div class="form-floating">
                <input type="text" class="form-control form-control-sm" placeholder="Name" formControlName="name">
                <label for="name" class="required">Name</label>
            </div>
            <app-dropdown label="Repeat (Date)" [values]="dayOptions" [control]="repeatCtrl" [required]="true"></app-dropdown>

            <app-user-selector label="Paid By" [required]="true" [control]="paidByCtrl"></app-user-selector>
            <div class="form-floating">
                <input type="number" class="form-control form-control-sm" placeholder="Amount" formControlName="amount">
                <label for="amount">Amount</label>
            </div>

            <app-dropdown label="Cycle" [values]="cycleOptions" [control]="cycleCtrl"></app-dropdown>

        </div>

        <app-recurring-expense-billing [billingFormArr]="billingsFormArr"
            [action]="action"></app-recurring-expense-billing>

    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-outline-dark" type="button" [disabled]="!(isFormValid$ | async)" (click)="submit()">
            {{ action }}
        </button>
        <button class="btn btn-sm btn-outline-danger" type="button" (click)="dismiss()">
            Cancel
        </button>
    </div>

</form>