<div class="form-floating">
    <input type="text" class="form-control form-control-sm" [placeholder]="label" [formControl]="control"
        [ngbTypeahead]="searchUsers" [resultFormatter]="searchUserFormatter" [inputFormatter]="searchUserFormatter"
        (focus)="focus$.next('')" (click)="click$.next('')" readonly/>
    <label for="user-selector" [ngClass]="{ required: required! }">{{ label }}</label>
    <button *ngIf="control.valueChanges | async" class="btn clear-btn d-flex align-items-center"
        (click)="clearSelectedUser()">
        <fa-icon [icon]="faXmark"></fa-icon>
    </button>
</div>