/* You can add global styles to this file, and also import other style files */
$enable-grid-classes: false;
$enable-cssgrid: true;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
    background-color: lightcyan;
}

@include media-breakpoint-down(sm) {
    app-auth > form.card {
        width: 90vw;
    }

    app-sidebar > div.offcanvas {
        max-width: 60% !important;
    }
}
