<form [formGroup]="calendarEventForm">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="isCreate">Add Event</h4>
        <h4 class="modal-title" *ngIf="isUpdate">Update Event</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">

        <div class="form-floating mb-3">
            <input class="form-control form-control-sm" placeholder="Title" formControlName="title" required>
            <label for="title" class="required">Title</label>
        </div>

        <div class="input-group mb-1">
            <div class="form-floating">
                <input ngbDatepicker readonly formControlName="start" class="form-control form-control-sm" placeholder="Event Start"
                    #sd="ngbDatepicker" [firstDayOfWeek]="7" [maxDate]="(endValue$ | async)!" required>
                <label for="startDate" class="required">Event Start</label>
            </div>
            <button class="btn btn-outline-secondary" (click)="sd.toggle()" type="button">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
        </div>

        <div class="input-checkbox d-flex align-items-center">
            <input #withEndDateCheckedBox class="form-check-input pe-1" type="checkbox" placeholder="With End Date"
                checked="false" [formControl]="withEndDateCtrl">
            <label for="title" (click)="withEndDateCheckedBox.click()">With End Date</label>
        </div>

        <div *ngIf="withEndDate$ | async" class="input-group mb-3">
            <div class="form-floating">
                <input ngbDatepicker readonly formControlName="end" class="form-control form-control-sm" placeholder="Event End"
                    #ed="ngbDatepicker" [firstDayOfWeek]="7" [minDate]="(startValue$ | async)!">
                <label for="startDate">Event End</label>
            </div>
            <button class="btn btn-outline-secondary" (click)="ed.toggle()" type="button">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control form-control-sm" placeholder="Description" formControlName="description"></textarea>
            <label for="description">Description</label>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="isCreate" type="button" class="btn btn-sm btn-outline-dark" [disabled]="!(isFormValid$ | async)"
            (click)="submit()">
            Add
        </button>

        <button *ngIf="isUpdate" type="button" class="btn btn-sm btn-outline-dark" (click)="submit()"
            [disabled]="!(isFormValid$ | async)">
            Update
        </button>

        <button type="button" class="btn btn-sm btn-outline-danger" (click)="activeModal.dismiss()">Close</button>
    </div>
</form>
